@{
  ViewData["Title"] = $"Edit {Model.Name}";
}

@model ParksClient.Models.Park

<h4>Edit @Model.Name</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ParkId)
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @Value = Model.Name})
  <br>
  @Html.LabelFor(model => model.State)
  @Html.TextBoxFor(model => model.State, new { @Value = Model.State})
  <br>
  @Html.LabelFor(model => model.Features)
  @Html.TextBoxFor(model => model.Features, new { @Value = Model.Features})
  <br>
  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating, new { @Value = Model.Rating})
  <br>
  <br>
  <input type="submit" value="Edit park" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Back to details", "Details", new {id = @Model.ParkId})</p>